body
{
    width: 384px;
    padding-top: 10px;
    margin: 0px;
    font-family: arial, sans-serif;
    word-wrap: break-word;
    border-bottom: 5px solid;
}

div.grey-strip 
{
    background:url(/static/lp_parkrun/grey_bar.png) no-repeat;
    height:15px;
    width:384px;
}

div.header 
{
    border-top: 5px solid;
    border-bottom: 5px solid;
    padding: 5px 10px 5px 10px;
    height:87px;
    font-weight: bold;
    position:relative;
}   

div.header_left
{
    float: left;
    position: absolute; bottom: 5px;
}
    
div.header_right
{
    position: relative;
    float: right;
    text-align: right;
    width:150px;
    height: 100%;
}

#date
{  
    font-size: 22px;
    position:absolute; bottom:0px; right: 0px;
}

#event_name
{
    text-align: right;
    margin-top: -5px;
    font-size: 18px;
}

#event_number
{  
    font-size: 32px;
    position:absolute; top:0px; right: 0px;
}

div#summary
{
    padding: 15px;
    text-align: justify;
    font-size: 18px;
}

td.icon
{
   padding: 5px;
   vertical-align:top;
}

td.text
{
   padding: 5px 15px 5px 5px;
   text-align:justify;
   width:100%;
   font-size:16px;
}
 
div#cutout
{
    border-top: 2px dashed;
    border-bottom: 2px dashed;	
    margin: 10px auto 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
    
table#barcode
{
    margin: 0px auto 0px auto;
}


