<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load humanize %}
<html>
<head>
  <title>parkrun</title>
  <link href="/static/parkrun.css" rel="stylesheet" type="text/css">
</head>
<body>

<!-- header -->
<div class="header">
    <div class="header_left">
        <img src="/static/parkrun_logo.jpg" width="150px"></img>
        <div class="event_name">{{event.short_name|lower}}</div>
    </div>
    <div class="header_right">
        <div id="event_number">#{{event.number}}</div>
        <div id="date">{{event.date}}</div>
    </div>
    <div style="clear:both;"></div>
</div>


<div class='grey-strip'></div>

<!-- summary -->
<div class="text">
Hello {{ user.first_name }}, here is your barcode for today's parkrun at {{ event.long_name }}. This will be your {{ user.event_runs|ordinal }} run at {{ event.short_name }} and your {{ user.total_runs|ordinal }} overall. Good luck!
</div>

<!-- twitter -->
{% if twitter %}
<div id='weather-container'>
  <div id='icon'><img src="/static/icon.png"></div>
  <div class="forecast"><b>@{{ twitter.id }}</b> <i>{{ twitter.text }}</i></div>
</div>
{% endif %}

<!-- weather -->
{% if weather %}
<div id='weather-container'>
  <div id='icon'><img src="/static/weather_icons/{{ weather.icon }}.png"></div>
  <div class="forecast"> {{ weather.text|upper }} &bull; {{ weather.temp }}&deg;C</div>
</div>
{% endif %}

<div class='grey-strip'></div>

<!-- barcode -->
<div id="cutout">
barcode
<!--table id="barcode" cellpadding="0px" cellspacing="0px">
  <tbody><tr>
    <td colspan="3"><img src="https://service.parkrun.org.uk/resources/runnerSupport/top.gif"></td>
  </tr>
  <tr>
    <td><img src="https://service.parkrun.org.uk/resources/runnerSupport/side.gif"></td>
    <td width="300px" align="center" valign="middle">
      <img src="https://service.parkrun.org.uk/resources/runnerSupport/parkrun-logo.gif" alt="parkrun"><br>
      <img src="https://service.parkrun.org.uk/runnerSupport/BarcodeImagery/image.php?code=A{{ user.barcode }}" alt="Your barcode"><br>
      <strong> {{ user.full_name }}</strong>
    </td>
    <td><img src="https://service.parkrun.org.uk/resources/runnerSupport/side.gif"></td>
  </tr>
  <tr>
    <td colspan="3"><img src="https://service.parkrun.org.uk/resources/runnerSupport//bottom.gif"></td>
  </tr>
</tbody>
</table-->
</div>

<!-- footer image -->


<div class='grey-strip'></div>

</body>
</html>