<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load humanize %}
<html>
<head>
  <title>parkrun</title>
  <link href="{{root_url}}/static/lp_parkrun/parkrun.css" rel="stylesheet" type="text/css">
</head>
<body>

<!-- header -->
<div class="header">
    <div class="header_left">
        <img src="/static/lp_parkrun/parkrun_logo.png" width="150px"></img>
        <div id="event_name">{{event.short_name|lower}}</div>
    </div>
    <div class="header_right">
        <span id="event_number">#{{event.number}}</span>
        <span id="date">{{event.date}}</span>
    </div>
</div>


<div class='grey-strip'></div>

<!-- summary -->
<div id="summary">
Hello {{ user.first_name }}, here is your weekly update for today's parkrun at {{ event.long_name }}. This will be your {{ user.event_runs|ordinal }} run at {{ event.short_name }} and your {{ user.total_runs|ordinal }} overall. Good luck!
</div>

<!-- weather -->
{% if weather %}
<div class='grey-strip'></div>
<table>
<tr>
<td class="icon"><img src="/static/lp_parkrun/weather_icons/{{ weather.icon }}.png"></img></td>
<td class="text"><b>{{event.long_name}}, {{weather.postcode}}</b><br/>{{ weather.text|upper }} &bull; {{ weather.temp }}&deg;C</td>
</tr>
</table>
{% endif %}

<!-- twitter -->
{% if twitter %}
<div class='grey-strip'></div>
<table>
<tr>
<td class="icon"><img src="/static/lp_parkrun/twitter_logo.png"></img></td>
<td class="text"> <b>@{{ twitter.id }}</b><br/><i>{{ twitter.text }}</i></td>
</tr>
</table>
{% endif %}

<div class='grey-strip'></div>

<!-- barcode -->
<div id="cutout">
<table id="barcode" cellpadding="0px" cellspacing="0px">
  <tbody><tr>
    <td colspan="3"><img src="/static/lp_parkrun/barcode_images/top.gif"></td>
  </tr>
  <tr>
    <td><img src="/static/lp_parkrun/barcode_images/side.gif"></td>
    <td width="300px" align="center" valign="middle">
      <img class="dither" src="/static/lp_parkrun/barcode_images/parkrun-logo.gif" alt="parkrun"><br>
      <img src="{{ user.barcode_url }}" alt="Your barcode"><br>
      <strong> {{ user.full_name }}</strong>
    </td>
    <td><img src="/static/lp_parkrun/barcode_images/side.gif"></td>
  </tr>
  <tr>
    <td colspan="3"><img src="/static/lp_parkrun/barcode_images/bottom.gif"></td>
  </tr>
</tbody>
</table>
</div>

<!-- footer -->


<div class='grey-strip'></div>

</body>
</html>